/* Fonts */


/* HTML structure */
html {
	width: 100%;
	/*height: 100%;*/
}
body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
	background: black;
	color: white;

	position: relative;
	z-index: 0;

	width: 100%;
	/*height: 100%;*/

	overflow-y: scroll

	min-width: 400px;
	min-height: 400px;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	
}
a:active {
	
}

a img {
	border: none;
}


#header {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	position: relative;

	text-align: center;

	cursor: default;
	/*overflow: hidden;*/
}
#header span {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

	width: 100%;

	font-family: "Berkshire Swash", cursive;
	font-size: 60px;
	text-align: center;
}
#header img.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 800;
	height: 1204;
	z-index: 0;
}


#logo {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 2;
}


#menu {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	position: fixed;
	top: 150px;
	left: 0px;
	z-index: 2;
}

#menu li {
	padding: 0;
	margin: 0;
	position: relative;
	width: 200px;
	height: 50px;
	font-size: 20px;
	text-align: left;
	/*border-bottom: white solid 1px;*/
}
#menu li:last-child {
	/*border-bottom: none;*/
}

#menu li a {
	display: block;
	width: 100%;
	height: 100%;
}


#menu li span {
	display: block;
	padding-top: 12px;
	margin-left: 5px;
}

#menu li img {
	position: absolute;
	right: 5px;
	top: 10px;
	height: 30px;
}


/**
 * Main content display
 */
#content {
	/*display: none;*/
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	/*border: white dotted 1px;
	border-width: 0 1px 0 1px;*/
	/*min-height: 100%;*/
}

#inner-content {
	padding: 20px 10px 10px 20px;
}

#loading {
	display: none;
	position: fixed;
	top: 5px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}


#content h1 {
	text-align: right;
	margin-bottom: 10px;
}

#content .section {
	height: 500px;
	margin-bottom: 50px;
	border-bottom: white solid 1px;
}
#content .section h1 {
	margin-bottom: 30px;
}
#content .section p {
	padding: 0 20px 0 20px;
}
